.filters {
    float: left;
    clear: right;
    height:100%;
}

.cardBox {
    display: flex;
    flex-direction: column;
}


.drugs {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, aliceblue, whitesmoke);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.condition {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #feffb3, #f5f5da);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.heart {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #ffb8b3, #f58a89);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.std {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #c7ffb9, #a3f5ed);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.disability {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #2a36ff, #f5f5f5);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.obese {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #fbff1e, #f5f1a1);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.overweight {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #ff8339, #f5ce8c);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.healthy {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #2cff28, #a5f578);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.underweight {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #ae64ff, #a3a2f5);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.mammogram {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #f54cff, #f4a9f5);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.prostate {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #ffb529, #f5db85);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.pic {
    background-image: url("../images/disabled.jpg");
    background-size: cover;
    background-position:right;
    min-height: 350px;
    width: auto;
    border-radius: 10px;
    margin-right: 20px;
}
.pic1 {
    background-image: url("../images/drugs.jpg");
    background-size: cover;
    background-position:center;
    height: 350px;
    width: auto;
    border-radius: 10px;
    margin-right: 20px;
}
.pic2 {
    background-image: url("../images/asthma.jpg");
    background-size: cover;
    background-position:center;
    height: 350px;
    width: auto;
    border-radius: 10px;
    margin-right: 20px;
}
.pic3 {
    background-image: url("../images/heartDisease.png");
    background-size: cover;
    background-position:center;
    height: 350px;
    width: auto;
    border-radius: 10px;
    margin-right: 20px;
}
.pic4 {
    background-image: url("../images/condom.jpg");
    background-size: cover;
    background-position:center;
    height: 350px;
    width: auto;
    border-radius: 10px;
    margin-right: 20px;
}
.pic5 {
    background-image: url("../images/disabled.jpg");
    background-size: cover;
    background-position:center;
    height: 350px;
    width: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.pic6 {
    background-image: url("../images/obese.jpg");
    background-size: cover;
    background-position:center;
    height: 350px;
    width: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.pic7 {
    background-image: url("../images/overweight.jpg");
    background-size: cover;
    background-position:center;
    height: 350px;
    width: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.pic8 {
    background-image: url("../images/healthy.jpg");
    background-size: cover;
    background-position:center;
    height: 350px;
    width: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.pic9 {
    background-image: url("../images/underweight.jpg");
    background-size: cover;
    background-position:center;
    height: 350px;
    width: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.pic10 {
    background-image: url("../images/mammogram.jpg");
    background-size: cover;
    background-position:center;
    height: 350px;
    width: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.pic11 {
    background-image: url("../images/prostate.jpg");
    background-size: cover;
    background-position:center;
    height: 350px;
    width: auto;
    border-radius: 10px;
    margin-right: 20px;
}



.titleAndText {
    display: flex;
    flex-direction: column;
    flex:2;
}

.rightHalf {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.blurb {
    flex: 1;
}

.links {
    flex: 1;
}

.title {
    text-align: center;
}
.picContainer{
    flex:1;
}

#heart {
    display: none;
}

#drugs {
    display: none;
}

#asthma {
    display: none;
}

#disability {
    display: none;
}

#aids {
    display: none;
}

#obese {
    display: none;
}

#overweight {
    display: none;
}

#healthy {
    display: none;
}

#underweight {
    display: none;
}

#mammogram {
    display: none;
}

#prostate {
    display: none;
}

.noshow{
    display: none;
}
@media(max-width:992px){
    
    .drugs {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, aliceblue, whitesmoke);
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    
    .condition {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, #feffb3, #f5f5da);
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    
    .heart {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, #ffb8b3, #f58a89);
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    
    .std {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, #c7ffb9, #a3f5ed);
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    
    .disability {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, #2a36ff, #f5f5f5);
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .obese {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, #fbff1e, #f5f1a1);
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .overweight {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, #ff8339, #f5ce8c);
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .healthy {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, #2cff28, #a5f578);
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .underweight {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, #ae64ff, #a3a2f5);
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        margin-bottom: 10px;
    }


    .mammogram {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, #f54cff, #f4a9f5);
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .prostate {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right, #ffb529, #f5db85);
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    
    .titleAndText {
        display: flex;
        flex-direction: column;
        flex:2;
        margin:15px;
    }
    .picContainer{
        background-image:url(/images/drugs.jpeg);
        background-size:cover;
        flex:1;
        width:100%;
        height:auto;
        justify-content:space-around;
    }
    .pic1 {
        background-image: url("../images/drugs.jpeg");
        background-size: cover;
        background-position:center;
        height: auto;
        width: 100%;
        border-radius: 10px;
    }
    .pic2 {
        background-image: url("../images/asthma.jpg");
        background-size: cover;
        background-position:center;
        height: auto;
        width: 100%;
        border-radius: 10px;
    }
    .pic3 {
        background-image: url("../images/heartDisease.png");
        background-size: cover;
        background-position:center;
        height: auto;
        width: 100%;
        border-radius: 10px;
    }
    .pic4 {
        background-image: url("../images/condom.jpg");
        background-size: cover;
        background-position:center;
        height: auto;
        width: 100%;
        border-radius: 10px;
    }
    .pic5 {
        background-image: url("../images/disabled.jpg");
        background-size: cover;
        background-position:center;
        height: auto;
        width: 100%;
        border-radius: 10px;
    }
    .pic6 {
        background-image: url("../images/obese.jpg");
        background-size: cover;
        background-position:center;
        height: auto;
        width: 100%;
        border-radius: 10px;
    }
    .pic7{
        background-image: url("../images/overweight.jpg");
        background-size: cover;
        background-position:center;
        height: auto;
        width: 100%;
        border-radius: 10px;
    }
    .pic8{
        background-image: url("../images/healthy.jpg");
        background-size: cover;
        background-position:center;
        height: auto;
        width: 100%;
        border-radius: 10px;
    }
    .pic9{
        background-image: url("../images/underweight.jpg");
        background-size: cover;
        background-position:center;
        height: auto;
        width: 100%;
        border-radius: 10px;
    }

    .pic10 {
        background-image: url("../images/mammogram.jpg");
        background-size: cover;
        background-position:center;
        height: auto;
        width: 100%;
        border-radius: 10px;
    }

    .pic11 {
        background-image: url("../images/prostate.jpg");
        background-size: cover;
        background-position:center;
        height: auto;
        width: 100%;
        border-radius: 10px;
    }

}

/******************************** CODE GRAVEYARD ******************************************************/


/*.cardBox {*/
/*display: flex;*/
/*float: right;*/
/*padding-bottom: 45px;*/
/*}*/

/*.drugCard {*/
/*flex: 1;*/
/*height: 350px;*/
/*border-style: solid;*/
/*border-width: 1px;*/
/*border-radius: 10px;*/
/*background-image: linear-gradient(to right, aliceblue, whitesmoke);*/
/*}*/

/*.cardContainer {*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: space-between;*/
/*padding: 0 2% 0 0;*/
/*}*/

/*.cardTitle {*/
/*text-align: center;*/
/*padding-bottom: 10px;*/
/*margin-left: 37%;*/
/*}*/

/*.cardPic {*/
/*flex: 1;*/
/*justify-self: left;*/
/*//border-style: solid;*/
/*}*/

/*.cardBlurb {*/
/*flex: 1;*/
/*//border-style: solid;*/

/*}*/

/*.cardLinks {*/
/*flex: 1;*/
/*//border-style: solid;*/

/*}*/



/*#card2{*/
/*flex-direction: row;*/
/*}*/









































